.girdWrap{
    :global{
        .next-table-cell-wrapper{
            text-align: center;
        }
    }
    .page{
        margin: 15px auto;
        display: flex;
        justify-content: center;
    }
}

.textCell{
    .btnText + .btnText{
        margin-left: 10px;
    }
}

.ellipsisCell{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 100%;
}