@import '~@alifd/theme-3892/variables.scss';
.title {
  height: 50px;
  line-height: 50px;
  position: relative;
  h3 {
    line-height: 50px;
    font-size: 16px;
    padding-left: 8px;
    position: relative;
  }
  h3::before {
    content: '';
    display: block;
    width: 3px;
    height: 16px;
    background: $color-brand1-6;
    position: absolute;
    left: 0;
    top: 17px;
  }
  .btn {
    position: absolute;
    left: 0;
    top: 9px;
  }
}
.hasBorder {
  border-bottom: 1px solid $color-line1-1;
}